.about {
  padding: 80px 0;
    @include mq(0, 767){
      padding: 50px 0;
    }

  &__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    @include mq(0, 767){
      grid-template-columns: 1fr;
      gap: 24px;
    }
  }

  &__left {


  }

  &__right {


    &-title {
      color: $blue;
      margin-bottom: 55px;
      font-size: 30px;
      @include mq(0, 767){
        margin-bottom: 24px;
      }
    }
  }
}