.agenda {
  &__item {
    @media (max-width: 992px) {
      flex-wrap: wrap;
      gap: 35px;
    }
  }

  &__color {
    width: 26px;
    height: 67px;
  }

  &__agent {
    width: 28.5%;

    @media (max-width: 992px) {
      width: fit-content;
    }
    @media (max-width: 767px) {
      max-width: 210px;
      width: 100%;
    }

    @media (max-width: 576px) {
      width: 80%;
    }
  }

  &__speakers {
    width: 43%;

    .first-word {
      font-weight: 700;
    }

    @media (max-width: 992px) {
      order: 4;
      width: 100%;
    }
  }

  &__time {
    @media (max-width: 992px) {
      margin-left: auto;
    }
    @media (max-width: 530px) {
      margin: 0;
    }
  }
}