.footer {
  @media (min-width: 1400px) {
    &__bot .container {
      max-width: 1600px;
    }
  }

  @media (max-width: 1400px) {
    &__info {
      max-width: fit-content;
    }
  }

  @media (max-width: 1200px) {
    &__top .container {
      justify-content: center;
    }
  }

  @media (max-width: 992px) {
    &__bot .container,
    &__logo {
      justify-content: center;
    }

    &__title,
    &__info {
      text-align: center;
    }

    &__bot img {
      margin: 0 auto;
    }
  }

  &__menu {
    background-color: $blue;

    ul.menu {
      display: flex;
      margin-bottom: 0;
      padding: 39.5px 0;
      gap: 96px;
      @include mq(0, 1399) {
        gap: 35px;
      }
      @include mq(0, 991) {
        gap: 20px;
        flex-direction: column;
        align-items: center;
      }

      li {
        display: flex;
        align-items: center;
        margin-top: 0;

        a {
          color: #fff;
          font-size: 20px;
          font-weight: 600;
          line-height: 23px;
          text-decoration: none;
          transition: 0.3s ease-in-out;
          @include mq(0, 1199) {
            font-size: 16px;
          }

          &:hover {
            opacity: 0.7;
          }
        }
      }
    }
  }
}

