header.header {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 60px;
  padding: 10px 0;
  position: sticky;
  background-color: $red !important;
  z-index: 10;
  top: 0;
  @include mq(0, 767) {
    min-height: 48px;
  }

  .container {
    max-width: 100%;
    height: 100%;
    padding: 0;
  }

  a.header-link {
    display: flex;
    justify-content: center;
    color: #fff;
    font-weight: bold;
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    cursor: pointer;
    z-index: 11;
  }

  span.run-label {
    font-family: $font;
    color: #fff;
    font-weight: 700;
    line-height: 23px;
    font-size: 20px;
    margin-bottom: 0;
    flex-shrink: 0;
    white-space: nowrap;

    @include mq(0, 767) {
      font-size: 18px;
    }
    @include mq(0, 420) {
      font-size: 15px;
    }
  }

  .run-labels-wrapper {
    display: flex;
    white-space: nowrap;
    align-items: center;
    overflow: hidden;
    position: relative;
    width: 100%;
  }

  .run-labels-track {
    display: flex;
    animation: scroll-left 25s linear infinite;
    gap: 40px;
    width: max-content;
  }
}

@keyframes scroll-left {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}