/*******************************************************************
	Table of contents:

		1. Headers
		2. Typo tags
		3. Tables
		4. Embeds

*******************************************************************/

body {
  font-family: $font;
  color: #000;
  font-weight: 400;
  line-height: 23px;
  font-size: 20px;
}

.container {
  padding: 0 32px;
  margin: 0 auto;
  display: block;
  @include minw(1400) {
    max-width: 1324px;
  }
}

* {
  outline: none !important;
  box-shadow: none;
}

.h-100 {
  height: 100%;
}

.responsive-table {
  overflow-x: auto;
}

img {
  max-width: 100%;
  object-fit: cover;
  overflow: hidden;
}


/**
	-----------------------------------------------------------------
	Headers
	-----------------------------------------------------------------
**/

@for $i from 1 through 6 {
  h#{$i} {
    margin: 16px 0;
  }
}

/**
	-----------------------------------------------------------------
	Typo tags
	-----------------------------------------------------------------
**/
p {
  font-family: $font;
  color: #000;
  font-weight: 400;
  line-height: 23px;
  font-size: 20px;
}


.b-title {
  font-size: 51px;
  line-height: 23px;
  text-transform: uppercase;
  font-weight: bold;
}

.b-btn {
  font-size: 20px;
  line-height: 20px;
  background-color: #fff;
  border-radius: 12px;
  text-decoration: none;
  padding: 14px 20px;
  color: #000;
  display: block;
  text-align: center;
  min-width: 220px;
  transition: $transition;

  &:hover {
    background-color: $red;
    color: #fff;
  }
}

ul,
ol {
  font-weight: 400;
  font-size: 17px;
  line-height: 26px;
  letter-spacing: -0.32px;
  margin-bottom: 16px;

  li + li {
    margin-top: 4px;
  }
}

ol {
  list-style-type: decimal;
}

ol ol {
  list-style-type: lower-alpha;
}

ol ol ol {
  list-style-type: lower-roman;
}

a {

}


hr {
  border: 1px solid #8e8e8e;
  margin: 34px 0;
}

/**
	-----------------------------------------------------------------
	Tables
	-----------------------------------------------------------------
**/
table {
  width: 100%;
  border-collapse: collapse;

  th {
  }

  th,
  td {
    padding: 10px 15px;
    text-align: left;
  }
}

.responsive-table {
  overflow-x: auto;
}

/**
	-----------------------------------------------------------------
	Embeds
	-----------------------------------------------------------------
**/
.embed-container {
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;
  margin-bottom: 55px;
  //margin: 55px 0;
}

iframe {
  max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
